Library/
Logs/
UserSettings/
obj/
*.csproj
*.sln
*.slnx
Temp/
Build/
Builds/
*.userprefs
Thumbs.db
.DS_Store
.vs/
.vscode/
*.pidb
*.unityproj
Logs/
UserSettings/
obj/
*.csproj
*.sln
*.slnx
Build/
Builds/
*.userprefs
.DS_Store
.vscode/
*.unityproj
MemoryCaptures/
Recording/
AssetBundles/
PlayModeTestsOutput/
DerivedData/
